package {{group}}.neoforge.util;

import net.neoforged.fml.loading.FMLLoader;
import net.neoforged.fml.loading.LoadingModList;
import {{group}}.util.LoaderAdapter;

public class LoaderAdapter implements {{group}}.util.LoaderAdapter {
    @Override
    public boolean isClient() {
        return isClientDist();
    }

    @Override
    public java.nio.file.Path gameDir() {
        return net.neoforged.fml.loading.FMLPaths.GAMEDIR.get();
    }

    @Override
    public boolean isModLoaded(String modId) {
        return LoadingModList.get().getModFileById(modId) != null;
    }

    private static boolean isClientDist() {
        try {
            Object dist = FMLLoader.class.getMethod("getDist").invoke(null);
            return "CLIENT".equals(String.valueOf(dist));
        } catch (ReflectiveOperationException ignored) {
            try {
                Object loader = FMLLoader.class.getMethod("getCurrent").invoke(null);
                Object dist = loader.getClass().getMethod("dist").invoke(loader);
                return "CLIENT".equals(String.valueOf(dist));
            } catch (ReflectiveOperationException e) {
                throw new IllegalStateException("Cannot determine NeoForge distribution", e);
            }
        }
    }
}
