package {{group}}.neoforge.util;

import net.neoforged.fml.loading.LoadingModList;
import {{group}}.util.LoaderAdapter;

public class LoaderAdapter implements LoaderAdapter {
    @Override
    public boolean isClient() {
        return NeoForgeAdapter.getInstance().getDist().isClient();
    }

    @Override
    public boolean isModLoaded(String modId) {
        return LoadingModList.get().getModFileById(modId) != null;
    }
}
