package {{group}}.adapter

import {{group}}.util.ServiceLoaderUtil

interface LoaderAdapter {
    companion object : LoaderAdapter by ServiceLoaderUtil.findService()

    val isClient: Boolean

    fun isModLoaded(modId: String): Boolean
}