package {{group}}.neoforge.v21_1.util

import net.neoforged.fml.loading.FMLLoader
import {{group}}.neoforge.util.NeoForgeAdapter
import {{group}}.util.MinecraftVersion

class NeoForgeAdapter : NeoForgeAdapter {
    init {
        MinecraftVersion.V1211.requireCurrent()
    }

    override val dist = FMLLoader.getDist()!!
}
