@file:Suppress("UnstableApiUsage")

import com.github.jengelman.gradle.plugins.shadow.ShadowJavaPlugin.Companion.shadowRuntimeElements
import com.github.jengelman.gradle.plugins.shadow.tasks.ShadowJar
import com.github.jengelman.gradle.plugins.shadow.transformers.PreserveFirstFoundResourceTransformer
import com.github.jengelman.gradle.plugins.shadow.transformers.ResourceTransformer
import com.github.jengelman.gradle.plugins.shadow.transformers.TransformerContext
import com.google.gson.GsonBuilder
import com.google.gson.JsonArray
import com.google.gson.JsonObject
import earth.terrarium.cloche.INCLUDE_TRANSFORMED_OUTPUT_ATTRIBUTE
import earth.terrarium.cloche.REMAPPED_ATTRIBUTE
import earth.terrarium.cloche.api.attributes.IncludeTransformationStateAttribute
import earth.terrarium.cloche.api.attributes.MinecraftModLoader
import earth.terrarium.cloche.api.attributes.RemapNamespaceAttribute
import earth.terrarium.cloche.api.attributes.TargetAttributes
import earth.terrarium.cloche.api.metadata.CommonMetadata
import earth.terrarium.cloche.api.metadata.FabricMetadata
import earth.terrarium.cloche.api.target.FabricTarget
import earth.terrarium.cloche.api.target.ForgeLikeTarget
import earth.terrarium.cloche.api.target.ForgeTarget
import earth.terrarium.cloche.api.target.MinecraftTarget
import earth.terrarium.cloche.api.target.NeoforgeTarget
import earth.terrarium.cloche.tasks.GenerateFabricModJson
import earth.terrarium.cloche.util.fromJars
import earth.terrarium.cloche.util.target
import groovy.lang.Closure
import net.msrandom.minecraftcodev.core.utils.lowerCamelCaseGradleName
import net.msrandom.minecraftcodev.fabric.task.JarInJar
import net.msrandom.minecraftcodev.forge.task.JarJar
import net.msrandom.minecraftcodev.includes.IncludesJar
import net.msrandom.minecraftcodev.runs.MinecraftRunConfiguration
import org.apache.tools.zip.ZipEntry
import org.apache.tools.zip.ZipOutputStream
import org.gradle.api.component.AdhocComponentWithVariants
import org.gradle.jvm.tasks.Jar
import org.gradle.kotlin.dsl.support.serviceOf
import java.nio.charset.StandardCharsets

plugins {
    id("clocheTemplate.base")
    {%- if language == 'kotlin' %}
    id("clocheTemplate.language.kotlin")
    {%- else %}
    id("clocheTemplate.language.java")
    {%- endif %}
}

// region Project Properties

val id: String by rootProject.properties

val multiversionDependencies = objects.newInstance(
    MultiversionDependencies::class,
    project,
    container(MultiversionDependencySpec::class.java)
)

extensions.extraProperties["multiversionDependencies"] = multiversionDependencies

apply(from = "gradle/multiversion-dependencies.gradle.kts")

// endregion

dependencies {
    attributesSchema {
        attribute(TargetAttributes.MINECRAFT_VERSION) {
            compatibilityRules.add(MinecraftVersionCompatibilityRule::class)
        }
        attribute(TargetAttributes.MOD_LOADER) {
            compatibilityRules.add(MinecraftModLoaderCompatibilityRule::class)
        }
        attribute(TargetAttributes.CLOCHE_MINECRAFT_VERSION) {
            compatibilityRules.add(MinecraftVersionCompatibilityRule::class)
        }
        attribute(TargetAttributes.CLOCHE_MOD_LOADER) {
            compatibilityRules.add(MinecraftModLoaderCompatibilityRule::class)
        }
    }
}

cloche {
    // region Metadata & Mappings

    clocheTemplateMetadata(project)

    mappings {
        official()
    }

    // endregion

    // region Common Targets

    common {}

    val commonMain = common("common:common") {
        // mixins.from(file("src/common/common/main/resources/$id.mixins.json"))
        // accessWideners.from(file("src/common/common/main/resources/$id.accessWidener"))

        dependencies {
            compileOnly("org.spongepowered:mixin:0.8.7")
        }
    }

    val common201 = common("common:20.1") {
        dependsOn(commonMain)
        // mixins.from("src/common/20.1/main/resources/$id.20_1.mixins.json")
    }
    val common211 = common("common:21.1") {
        dependsOn(commonMain)
        // mixins.from("src/common/21.1/main/resources/$id.21_1.mixins.json")
    }
    val common261 = common("common:26.1") {
        dependsOn(commonMain)
        // mixins.from("src/common/26.1/main/resources/$id.26_1.mixins.json")
    }

    // endregion

    // region Minecraft Targets

    {%- if has_service %}
    val minecraft = common("minecraft") {
        // mixins.from(files("src/minecraft/main/resources/$id.minecraft.mixins.json"))
        // accessWideners.from(file("src/minecraft/main/resources/$id.minecraft.accessWidener"))

        project.dependencies {
            val implementation = lowerCamelCaseGradleName(name, JavaPlugin.IMPLEMENTATION_CONFIGURATION_NAME)

            implementation(target(commonMain))
        }
    }

    val minecraft201 = common("minecraft:20.1") {
        dependsOn(minecraft)
    }
    val minecraft211 = common("minecraft:21.1") {
        dependsOn(minecraft)
    }
    val minecraft261 = common("minecraft:26.1") {
        dependsOn(minecraft)
    }
    {%- endif %}
    // endregion

    // region Shared Target Defaults

    targets.withType<FabricTarget> {
        fabricDefaults(project)

        {%- if language == 'kotlin' %}
        dependencies {
            modImplementation(catalog.fabric.language.kotlin)
        }
        {%- endif %}
    }

    targets.withType<ForgeTarget> {
        forgeDefaults(project)
    }

    targets.withType<NeoforgeTarget> {
        neoforgeDefaults(project)
    }

    targets.all {
        commonDefaults(project)
    }
    // endregion

    // region Main Targets - Fabric

    val fabricCommon = common("fabric:common") {
        dependsOn(commonMain)
        // mixins.from(file("src/fabric/common/main/resources/$id.fabric.mixins.json"))
    }

    val fabric201 = fabric("fabric:20.1") {
        {%- if has_service %}
        dependsOn(common201, minecraft201, fabricCommon)
        {%- else %}
        dependsOn(common201, fabricCommon)
        {%- endif %}
        minecraftVersion = "1.20.1"

        metadata {
            dependency {
                modId = "minecraft"
                type = CommonMetadata.Dependency.Type.Required
                version {
                    start = "1.20.1"
                    end = "1.21"
                }
            }
        }

    }

    val fabric211 = fabric("fabric:21.1") {
        {%- if has_service %}
        dependsOn(common211, minecraft211, fabricCommon)
        {%- else %}
        dependsOn(common211, fabricCommon)
        {%- endif %}
        minecraftVersion = "1.21.1"

        metadata {
            dependency {
                modId = "minecraft"
                type = CommonMetadata.Dependency.Type.Required
                version {
                    start = "1.21"
                }
            }
        }

    }

    val fabric261 = fabric("fabric:26.1") {
        {%- if has_service %}
        dependsOn(common261, minecraft261, fabricCommon)
        {%- else %}
        dependsOn(common261, fabricCommon)
        {%- endif %}
        minecraftVersion = "26.1.2"

        metadata {
            dependency {
                modId = "minecraft"
                type = CommonMetadata.Dependency.Type.Required
                version {
                    start = "26.1"
                }
            }
        }
    }

    // endregion

    // region Main Targets - Forge
    {%- if has_service %}

    val forgeBootstrap = forge("forge:bootstrap") {
        dependsOn(common201)
        minecraftVersion = "1.20.1"
        bootstrapDefaults(project)
    }
    {%- endif %}
    val forgeMinecraft = forge("forge:minecraft") {
        {%- if has_service %}
        dependsOn(minecraft201)
        {%- else %}
        dependsOn(common201)
        {%- endif %}
        minecraftVersion = "1.20.1"

        metadata {
            dependency {
                modId = "minecraft"
                type = CommonMetadata.Dependency.Type.Required
                version {
                    start = "1.20.1"
                    end = "1.21"
                }
            }
        }

        repositories {
            maven("https://repo.spongepowered.org/maven") {
                content {
                    includeGroup("org.spongepowered")
                }
            }
        }

        dependencies {
            implementation("org.spongepowered:mixin:0.8.7")
            compileOnly(catalog.mixinextras.common)
            implementation(catalog.mixinextras.forge)
            {%- if language == 'kotlin' %}
            modImplementation(catalog.klf.mc20.forge)
            {%- endif %}
            {%- if has_service %}
            implementation(target(forgeBootstrap))
            {%- endif %}
        }

        tasks {
            named<Jar>(lowerCamelCaseGradleName(featureName, "jar")) {
                manifest {
                    attributes(
                        "ForgeVariant" to "LexForge"
                    )
                }
            }
        }
    }

    // endregion

    // region Main Targets - NeoForge
    {%- if has_service %}

    val neoforgeBootstrap = neoforge("neoforge:bootstrap") {
        dependsOn(common211)
        minecraftVersion = "1.21.1"
        bootstrapDefaults(project)
    }

    val neoforgeBootstrap261 = neoforge("neoforge:bootstrap:26.1") {
        dependsOn(common261)
        minecraftVersion = "26.1.2"
        bootstrapDefaults(project)
    }
    {%- endif %}

    val neoforgeMinecraftCommon = common("neoforge:minecraft:common") {
        dependsOn(commonMain)

        mixins.from(file("src/neoforge/minecraft/common/main/resources/$id.neoforge.mixins.json"))
    }

    val neoforgeMinecraft211 = neoforge("neoforge:minecraft:21.1") {
        {%- if has_service %}
        dependsOn(minecraft211, neoforgeMinecraftCommon)
        {%- else %}
        dependsOn(common211, neoforgeMinecraftCommon)
        {%- endif %}
        minecraftVersion = "1.21.1"

        metadata {
            dependency {
                modId = "minecraft"
                type = CommonMetadata.Dependency.Type.Required
                version {
                    start = "1.21"
                }
            }
        }

        dependencies {
            {%- if language == 'kotlin' %}
            modImplementation(catalog.klf.mc21.neoforge)
            {%- endif %}
            {%- if has_service %}
            implementation(target(neoforgeBootstrap))
            {%- endif %}
        }

        tasks {
            named<Jar>(lowerCamelCaseGradleName(featureName, "jar")) {
                manifest {
                    attributes(
                        "ForgeVariant" to "NeoForge"
                    )
                }
            }
        }
    }

    val neoforgeMinecraft261 = neoforge("neoforge:minecraft:26.1") {
        {%- if has_service %}
        dependsOn(minecraft261, neoforgeMinecraftCommon)
        {%- else %}
        dependsOn(common261, neoforgeMinecraftCommon)
        {%- endif %}
        minecraftVersion = "26.1.2"

        metadata {
            dependency {
                modId = "minecraft"
                type = CommonMetadata.Dependency.Type.Required
                version {
                    start = "26.1"
                }
            }
        }

        dependencies {
            {%- if language == 'kotlin' %}
            modImplementation(catalog.klf.mc26.neoforge)
            {%- endif %}
            {%- if has_service %}
            implementation(target(neoforgeBootstrap261))
            {%- endif %}
        }

        tasks {
            named<Jar>(lowerCamelCaseGradleName(featureName, "jar")) {
                manifest {
                    attributes(
                        "ForgeVariant" to "NeoForge"
                    )
                }
            }
        }
    }

    // endregion

    // region Containers

    // region Fabric Container

    val fabricContainer = project.container(loader = MinecraftModLoader.fabric) {
        val metadataDirectory = project.layout.buildDirectory.dir("generated")
            .map { it.dir("metadata").dir(featureName) }
        val generateModJson =
            tasks.register<GenerateFabricModJson>(lowerCamelCaseGradleName(featureName, "generateModJson")) {
                modId = "${id}_container"
                metadata = objects.newInstance(FabricMetadata::class.java, fabric201).apply {
                    license.value(cloche.metadata.license)
                    dependencies.value(cloche.metadata.dependencies)
                }
                loaderDependencyVersion = "0.18"
                output.set(metadataDirectory.map { it.file("fabric.mod.json") })
            }

        dependencies {
            includeTarget(fabric261)
            includeTarget(fabric211)
            includeTarget(fabric201)
        }

        jar {
            dependsOn(generateModJson)
            from(metadataDirectory)
        }
    }

    // endregion

    // region Forge Container

    val forgeContainer = project.container(loader = MinecraftModLoader.forge) {
        {%- if has_service %}
        embed()
        {%- endif %}
        dependencies {
            includeTarget(forgeMinecraft)
            {%- if has_service %}
            embed(target(forgeBootstrap))
            {%- endif %}
        }

        jar {
            manifest {
                attributes(
                    "FMLModType" to "GAMELIBRARY"
                )
            }
        }
    }

    // endregion

    // region NeoForge Container

    val neoforgeContainer = project.container(loader = MinecraftModLoader.neoforge) {
        {%- if has_service %}
        embed()
        {%- endif %}

        val neoforgeMergedJar = tasks.register<ShadowJar>(lowerCamelCaseGradleName(featureName, "mergedJar")) {
            group = "build"
            archiveClassifier = "${loader.toString().lowercase()}-merged"
            destinationDirectory = intermediateOutputsDirectory
            configurations = emptyList()

            for (target in listOf(neoforgeMinecraft211, neoforgeMinecraft261)) {
                val output = tasks.named<Jar>(target.includeJarTaskName).flatMap { it.archiveFile }
                from(project.zipTree(output))

                manifest.fromJars(serviceOf(), output)
            }

            mergeServiceFiles()
            append("META-INF/accesstransformer.cfg")
            transform<PreserveFirstFoundResourceTransformer>()
            filesMatching("**/*.class") { duplicatesStrategy = DuplicatesStrategy.EXCLUDE }
        }

        val neoforgeMergedDevJar = tasks.register<ShadowJar>(lowerCamelCaseGradleName(featureName, "mergedDevJar")) {
            group = "build"
            archiveClassifier = "${loader.toString().lowercase()}-merged-dev"
            destinationDirectory = intermediateOutputsDirectory
            configurations = emptyList()

            for (target in listOf(neoforgeMinecraft211, neoforgeMinecraft261)) {
                val output = tasks.named<Jar>(target.jarTaskName).flatMap { it.archiveFile }
                from(project.zipTree(output))

                manifest.fromJars(serviceOf(), output)
            }

            mergeServiceFiles()
            append("META-INF/accesstransformer.cfg")
            transform<PreserveFirstFoundResourceTransformer>()
            filesMatching("**/*.class") { duplicatesStrategy = DuplicatesStrategy.EXCLUDE }
        }

        val mergedRuntimeElements =
            configurations.register(lowerCamelCaseGradleName(featureName, "mergedRuntimeElements")) {
                isCanBeResolved = false
                isCanBeConsumed = true

                attributes {
                    attribute(Usage.USAGE_ATTRIBUTE, objects.named(Usage.JAVA_RUNTIME))
                    attribute(Category.CATEGORY_ATTRIBUTE, objects.named(Category.LIBRARY))
                    attribute(LibraryElements.LIBRARY_ELEMENTS_ATTRIBUTE, objects.named(LibraryElements.JAR))
                    attribute(TargetAttributes.MOD_LOADER, loader)
                    attribute(INCLUDE_TRANSFORMED_OUTPUT_ATTRIBUTE, false)
                    attribute(IncludeTransformationStateAttribute.ATTRIBUTE, IncludeTransformationStateAttribute.None)
                    attribute(REMAPPED_ATTRIBUTE, false)
                }

                outgoing.artifact(neoforgeMergedJar)
            }

        val mergedDevRuntimeElements =
            configurations.register(lowerCamelCaseGradleName(featureName, "mergedDevRuntimeElements")) {
                isCanBeResolved = false
                isCanBeConsumed = true

                attributes {
                    attribute(Usage.USAGE_ATTRIBUTE, objects.named(Usage.JAVA_RUNTIME))
                    attribute(Category.CATEGORY_ATTRIBUTE, objects.named(Category.LIBRARY))
                    attribute(LibraryElements.LIBRARY_ELEMENTS_ATTRIBUTE, objects.named(LibraryElements.JAR))
                    attribute(TargetAttributes.MOD_LOADER, loader)
                    attribute(INCLUDE_TRANSFORMED_OUTPUT_ATTRIBUTE, false)
                    attribute(IncludeTransformationStateAttribute.ATTRIBUTE, IncludeTransformationStateAttribute.None)
                    attribute(REMAPPED_ATTRIBUTE, true)
                    attribute(RemapNamespaceAttribute.ATTRIBUTE, RemapNamespaceAttribute.INITIAL)
                }

                outgoing.artifact(neoforgeMergedDevJar)
            }

        dependencies {
            include(project(":", mergedRuntimeElements.name))
            includeDev(project(":", mergedDevRuntimeElements.name))
            {%- if has_service %}
            embed(target(neoforgeBootstrap))
            embed(target(neoforgeBootstrap261))
            {%- endif %}
        }

        jar {
            manifest {
                attributes(
                    "FMLModType" to "GAMELIBRARY"
                )
            }
        }
    }

    // endregion

    // endregion

    // region Version Targets

    // region Fabric Version Targets

    fabric("version:fabric:20.1") {
        minecraftVersion = "1.20.1"

        runs { client() }

        dependencies {
            modRuntimeOnly(skipIncludeTransformation(project(":"))) {
                isTransitive = false
            }
        }
    }

    fabric("version:fabric:21.1") {
        minecraftVersion = "1.21.1"

        runs { client() }

        dependencies {
            modRuntimeOnly(skipIncludeTransformation(project(":"))) {
                isTransitive = false
            }
        }
    }

    fabric("version:fabric:26.1") {
        minecraftVersion = "26.1.2"

        runs { client() }

        dependencies {
            modRuntimeOnly(skipIncludeTransformation(project(":"))) {
                isTransitive = false
            }
        }
    }

    // endregion

    // region Forge Version Targets

    forge("version:forge:20.1") {
        minecraftVersion = "1.20.1"

        configurations.named(lowerCamelCaseGradleName(featureName, "legacyClasspath")) {
            exclude("org.jetbrains.kotlin")
        }

        dependencies {
            modRuntimeOnly(project(":")) {
                isTransitive = false
            }

            legacyClasspath(catalog.preloadingTricks) {
                isTransitive = false
            }

            {%- if language == 'kotlin' %}
            legacyClasspath(catalog.klf.mc20.forge)
            {%- endif %}
        }
    }

    // endregion

    // region NeoForge Version Targets

    neoforge("version:neoforge:21.1") {
        minecraftVersion = "1.21.1"

        dependencies {
            modRuntimeOnly(project(":")) {
                isTransitive = false
            }

            legacyClasspath(catalog.preloadingTricks) {
                isTransitive = false
            }

            {%- if language == 'kotlin' %}
            legacyClasspath(catalog.klf.mc21.neoforge)
            {%- endif %}
        }
    }

    neoforge("version:neoforge:26.1") {
        minecraftVersion = "26.1.2"

        dependencies {
            modRuntimeOnly(project(":")) {
                isTransitive = false
            }

            legacyClasspath(catalog.preloadingTricks) {
                isTransitive = false
            }

            {%- if language == 'kotlin' %}
            legacyClasspath(catalog.klf.mc26.neoforge)
            {%- endif %}
        }
    }

    // endregion

    // endregion

    project.configureFinalJar(
        containers = listOf(fabricContainer, forgeContainer, neoforgeContainer),
        allTargets = targets,
    )
}

