package {{group}}.v1_20.adapter

import net.minecraft.resources.ResourceLocation
import {{group}}.util.MinecraftAdapter

class MinecraftAdapter : MinecraftAdapter {
    override fun id(namespace: String, path: String) = ResourceLocation(namespace, path)
}