package {{group}}.v26_1.util;

import net.minecraft.resources.ResourceLocation;

public class MinecraftAdapter implements {{group}}.util.MinecraftAdapter {
    @Override
    public ResourceLocation id(String namespace, String path) {
        return ResourceLocation.fromNamespaceAndPath(namespace, path);
    }
}
