package {{group}}.neoforge.v26_1.util

import net.neoforged.fml.loading.FMLLoader
import {{group}}.neoforge.util.NeoForgeAdapter
import {{group}}.util.MinecraftVersion

class NeoForgeAdapter : NeoForgeAdapter {
    init {
        MinecraftVersion.V261.requireCurrent()
    }

    override val dist = FMLLoader.getCurrent().dist
}
