package {{group}}.fabric

import {{group}}.{{name}}
import {{group}}.util.Entrypoint

object {{name}}Fabric {
    init {
        requireNotNull({{name}})
        Entrypoint.construct()
    }

    fun init() {
        Entrypoint.init()
    }

    fun clientInit() {
        Entrypoint.clientInit()
    }
}
