package {{group}}.neoforge.v21_1;

import {{group}}.util.Entrypoint;
import {{group}}.util.MinecraftVersion;

public class {{name}}NeoForgeEntrypoint implements Entrypoint {
    public {{name}}NeoForgeEntrypoint() {
        MinecraftVersion.V1211.requireCurrent();
    }

    @Override
    public void onConstruct() {
    }
}
