package {{group}}.v20_1.util

import net.minecraft.resources.ResourceLocation
import {{group}}.util.Identifier

fun Identifier.toNative(): ResourceLocation = ResourceLocation(namespace, path)

fun ResourceLocation.toCommon(): Identifier = Identifier(namespace, path)
