package {{group}}.v26_1.util

import net.minecraft.resources.Identifier
import {{group}}.util.CommonIdentifier
import {{group}}.util.IdentifierFactory
import {{group}}.util.MinecraftVersion
import {{group}}.util.SimpleIdentifier

class IdentifierFactory : IdentifierFactory {
    init {
        MinecraftVersion.V261.requireCurrent()
    }

    override fun create(namespace: String, path: String): CommonIdentifier =
        SimpleIdentifier(namespace, path)

    override fun parse(value: String): CommonIdentifier {
        val native = Identifier.parse(value)
        return SimpleIdentifier(native.namespace, native.path)
    }
}
