package {{group}}.v20_1.util;

import net.minecraft.resources.ResourceLocation;
import {{group}}.util.CommonIdentifier;
import {{group}}.util.MinecraftVersion;
import {{group}}.util.SimpleIdentifier;

public class IdentifierFactory implements {{group}}.util.IdentifierFactory {
    public IdentifierFactory() {
        MinecraftVersion.V1201.requireCurrent();
    }

    @Override
    public CommonIdentifier create(String namespace, String path) {
        return new SimpleIdentifier(namespace, path);
    }

    @Override
    public CommonIdentifier parse(String value) {
        ResourceLocation rl = new ResourceLocation(value);
        return new SimpleIdentifier(rl.getNamespace(), rl.getPath());
    }
}
