package {{group}}.v20_1.util;

import net.minecraft.resources.ResourceLocation;

public class MinecraftAdapter implements {{group}}.util.MinecraftAdapter {
    @Override
    public ResourceLocation id(String namespace, String path) {
        return new ResourceLocation(namespace, path);
    }
}
