package {{group}};

import org.apache.logging.log4j.LogManager;
import org.apache.logging.log4j.Logger;
import {{group}}.util.CommonIdentifier;

public final class {{name}} {
    public static final String ID = "{{id}}";
    public static final Logger LOGGER = LogManager.getLogger();

    private {{name}}() {}

    public static CommonIdentifier id(String path) {
        return CommonIdentifier.of(ID, path);
    }
}
