package {{group}}.v20_1.util;

import {{group}}.util.MinecraftVersion;

public class MinecraftAdapter implements {{group}}.util.MinecraftAdapter {
    public MinecraftAdapter() {
        MinecraftVersion.V1201.requireCurrent();
    }
}
