package {{group}}.neoforge.util

import net.neoforged.fml.ModList
import net.neoforged.fml.loading.FMLLoader
import {{group}}.util.LoaderAdapter

class LoaderAdapter : LoaderAdapter {
    override val isClient: Boolean
        get() = FMLLoader.getDist().isClient

    override fun isModLoaded(modId: String) = ModList.get().isLoaded(modId)
}
