import earth.terrarium.cloche.api.attributes.MinecraftModLoader
import earth.terrarium.cloche.api.target.FabricTarget
import earth.terrarium.cloche.api.target.ForgeTarget
import earth.terrarium.cloche.api.target.MinecraftTarget
import earth.terrarium.cloche.api.target.NeoforgeTarget
import org.gradle.api.Project
import org.gradle.api.artifacts.dsl.DependencyCollector

fun MinecraftTarget.multiversionLoader(): MinecraftModLoader = when (this) {
    is FabricTarget -> MinecraftModLoader.fabric
    is ForgeTarget -> MinecraftModLoader.forge
    is NeoforgeTarget -> MinecraftModLoader.neoforge
    else -> MinecraftModLoader.common
}

context(target: MinecraftTarget, project: Project)
operator fun DependencyCollector.invoke(spec: MultiversionDependencySpec) {
    add(spec.resolve(target.multiversionLoader(), target.minecraftVersionEnum()).toDependency(project))
}