package {{group}}.neoforge;

import net.neoforged.bus.api.IEventBus;
import net.neoforged.fml.common.Mod;
import net.neoforged.fml.event.lifecycle.FMLClientSetupEvent;
import net.neoforged.fml.event.lifecycle.FMLCommonSetupEvent;
import {{group}}.{{name}};
import {{group}}.util.Entrypoint;

@Mod({{name}}.ID)
public class {{name}}NeoForge {
    public {{name}}NeoForge(IEventBus modEventBus) {
        @SuppressWarnings("unused")
        String id = {{name}}.ID;
        Entrypoint.construct();

        modEventBus.addListener(this::commonSetup);
        modEventBus.addListener(this::clientSetup);
    }

    private void commonSetup(FMLCommonSetupEvent event) {
        Entrypoint.init();
    }

    private void clientSetup(FMLClientSetupEvent event) {
        Entrypoint.clientInit();
    }
}
