package {{group}}.v1_21.adapter

import net.minecraft.resources.ResourceLocation
import {{group}}.adapter.MinecraftAdapter

class MinecraftAdapter : MinecraftAdapter {
    override fun id(namespace: String, path: String) = ResourceLocation.fromNamespaceAndPath(namespace, path)
}