package {{group}}

import org.apache.logging.log4j.LogManager
import {{group}}.util.Identifier
import {{group}}.util.ServiceLoaderUtil

object {{name}} {
    const val ID = "{{id}}"

    val LOGGER = LogManager.getLogger()

    fun id(path: String) = Identifier(ID, path)
}