package {{group}}

import org.apache.logging.log4j.LogManager
import {{group}}.util.MinecraftAdapter
import {{group}}.util.ServiceLoaderUtil

object {{name}} {
    const val ID = "{{id}}"

    val LOGGER = LogManager.getLogger()

    fun id(path: String) = MinecraftAdapter.id(ID, path)
}